// Custom table styles using theme variables
::ng-deep {
  .custom-table {
    .p-datatable-thead > tr > th {
      background-color: var(--p-table-header-background);
      padding: 1.5rem !important;
    }

    .p-datatable-tbody > tr {
      border-bottom: 1px solid var(--p-table-row-border-color);

      > td {
        padding: 1rem;
      }
    }
  }
}
