::ng-deep {
  .custom-table {
    .p-datatable-thead > tr > th {
      background-color: white;
      border-bottom: 1px solid var(--p-table-header-border-color) !important;
      white-space: nowrap;
      min-width: 120px;
    }

    .p-datatable-tbody > tr {
      > td {
        border-bottom: 1px solid var(--p-table-header-border-color) !important;
        padding: 1rem;
        white-space: nowrap;
      }
    }
  }

  // Read-only form styles
  .readonly-form {
    input,
    textarea,
    .p-datepicker,
    .p-select {
      pointer-events: none;
      opacity: 0.7;
      background-color: var(--p-inputtext-disabled-background) !important;
      color: var(--p-inputtext-disabled-color) !important;
    }

    .p-datepicker-input-icon-container {
      display: none;
    }
  }
}
