// Custom table styles using theme variables
::ng-deep {
  .custom-table {
    overflow: hidden !important;
    border-radius: 0.5rem !important;

    .p-datatable-thead > tr > th {
      background-color: var(--p-table-header-background);
      border: 1px solid var(--p-table-header-border-color) !important;
      padding: 1.5rem !important;
    }

    .p-datatable-tbody > tr {
      border: 1px solid var(--p-table-header-border-color) !important;

      > td {
        padding: 0.75rem;
      }
    }
  }
}
