::ng-deep {
  .custom-table {
    .p-datatable-thead > tr > th {
      background-color: white;
      padding: 1.5rem !important;
      border-bottom: 1px solid var(--p-table-header-border-color) !important;
    }

    .p-datatable-tbody > tr {
      > td {
        border-bottom: 1px solid var(--p-table-header-border-color) !important;
        padding: 1rem;
      }
    }
  }
}
