// Custom table styles using theme variables
::ng-deep {
  .custom-table {
    .p-datatable-thead > tr > th {
      background-color: var(--p-table-header-background);
      border-bottom: 1px solid var(--p-table-header-border-color) !important;
      padding: 1.5rem !important;
      white-space: nowrap;
      min-width: 120px;
    }

    .p-datatable-tbody > tr {
      > td {
        border: 1px solid var(--p-table-header-border-color) !important;
      }
    }
  }
}
