// Custom table styles using theme variables
::ng-deep {
  .custom-table {
    .p-datatable-thead > tr > th {
      background-color: var(--p-table-header-background);
      // border-bottom: 1px solid var(--p-table-header-border-color) !important;
      // border-top: 1px solid var(--p-table-header-border-color) !important;
      padding: 1.5rem !important;
    }

    .p-datatable-tbody > tr {
      background-color: var(--p-table-row-background);
      transition: background-color 0.15s ease;

      > td {
        padding: 1rem;
        font-size: 0.875rem;
      }
    }
  }
}
