// Operational Creditors Table Styles
::ng-deep {
  .custom-card {
    border-radius: 1rem !important;
    overflow: hidden !important;

    .p-card-body {
      padding: 0px !important;
    }
  }

  .custom-table {
    .p-datatable-thead > tr > th {
      background-color: var(--p-table-header-background);
      border: 1px solid var(--p-table-header-border-color) !important;
      padding: 1.5rem !important;
      white-space: nowrap;
      min-width: 120px;
    }

    .p-datatable-tbody > tr {
      background-color: var(--p-table-row-background);
      transition: background-color 0.15s ease;

      > td {
        border: 1px solid var(--p-table-header-border-color) !important;
        padding: 1rem;
        font-size: 0.875rem;
        white-space: nowrap;
      }
    }
  }
}
