@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import 'tailwindcss';
@import 'tailwindcss-primeui';
@custom-variant dark (&:where(.p-dark, .p-dark *));
